[project]
	description = Proyecto de conteo ciudadano para las elecciones presidenciales 2012
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jparbros
[access "refs/for/refs/*"]
	read = group user/jparbros
	push = group user/jparbros
	label-Code-Review = -2..+2 group user/jparbros
	label-Verified = -1..+1 group user/jparbros
	rebase = group user/jparbros
	removeReviewer = group user/jparbros
	submit = group user/jparbros
[access "refs/heads/*"]
	read = group user/jparbros
	create = group user/jparbros
	push = +force group user/jparbros
	pushMerge = group user/jparbros
[access "refs/tags/*"]
	push = +force group user/jparbros
	pushTag = group user/jparbros
	pushSignedTag = group user/jparbros
