<h1>Iniciativa Conteo Ciudadado</h1>
<div id="presentacion">
	Bienvenido, te invitamos a participar en este proyecto social que pretende dar una alternativa imparcial, objetiva e independiente al sistema de conteo
	que proporciona la institución encargada de las elecciones federales.<br /><br />
	El contenido aquí disponible es porporcionado por miles de mexicanos de todas las partes de la república mexicana que como tu desean un mejor y más prospero México para todos.
</div>