<h1>Consulta de Resultados</h1>
<form method="post" action="/results">
<table>
	<tr>
		<td colspan="7">Resultados por casilla</td>
	</tr>
	<tr>
		<td>Estado</td>
		<td><%= select_tag :state_id,options_for_select(State.all.collect {|st| [st.name,st.id]}), :include_blank => true%></td>
		<td>Municipio</td>
		<td><%= select_tag :municipality_id,{},:id=>'box_municipality_id'%><input type="hidden" name="tipo_consulta" value="casilla"></td>
		<td>Casilla</td>
		<td><input id="numero_casilla" name="numero_casilla" type="number" /></td>
		<td><input type="submit" value="Buscar"></td>
	</tr>
</table>
</form>
<hr />

<form method="post" action="/results">
<table>
	<tr>
		<td colspan="3">Resultados por Estado</td>
	</tr>
	<tr>
		<td>Estado</td>
		<td><%= select_tag :state_id,options_for_select(State.all.collect {|st| [st.name,st.id]}),:include_blank => true%><input type="hidden" name="tipo_consulta" value="estado"></td>
		<td><input type="submit" value="Buscar"></td>
	</tr>
</table>
</form>

<script>
	$(document).ready(function(){
		if($('#state_id').val()!=''){
			$.get('/get-municipalities.js',{state:$('#state_id').val()});
		}
	});

	$('#state_id').change(function(){
		$.get('/get-municipalities.js',{state:$(this).val()});
	});
</script>