%p.help-block
  Suba las mantas electorales en este formulario

= form_tag nil, multipart: true, method: :put, remote: true, id: 'results-image-form' do
  = file_field_tag :fileToUpload
  = submit_tag 'Subir', class: [:btn], id: 'button-to-upload'