%p.help-block
  Suba las mantas electorales en este formulario

.row
  #html5_uploader.span7{'data-box-id' => @casilla.id}

.row
  #image-uploaded.span7
    .row

.row
  #all-images.span7
    .row
      - @casilla.result_images.each do |image|
        .thumb.span1
          = image_tag image.image.thumb