= render partial: 'image_form' if @casilla.editable?

.row-fluid
  #all-images.span7
    .row-fluid
      - @casilla.result_images.each do |image|
        .thumb.span1
          = image_tag image.image.thumb