/*
 *= require 'bootstrap'
 *= require 'bootstrap-responsive.min'
 *= require_self

*/

body > .container-fluid {margin-top: 60px;}

.table ul {
  list-style: none;
  margin-left: 0;
}

.table ul li {
  float: left;
  border-right: 1px solid #333333;
  padding: 0 5px;
}

.table ul li:last-child { border:0; }

.edit_result .span6, .new_result .span6 {
  margin-bottom: 10px;
  min-height: 55px;
}

.foto-details label{
  display: inline;
  font-weight: bold;
}

.foto-details {
  border-bottom: 1px solid #333333;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.box-map {
  height: 300px;
}

.btn-group {
  display: inline-block;
}