/*
 *= require 'bootstrap'
 *= require 'bootstrap-responsive.min'
 *= require_self

*/

body > .container-fluid {margin-top: 60px;}

.table ul {
  list-style: none;
  margin-left: 0;
}

.table ul li {
  float: left;
  border-right: 1px solid #333333;
  padding: 0 5px;
}

.table ul li:last-child { border:0; }

.edit_result .span6, .new_result .span6 {
  margin-bottom: 10px;
  min-height: 55px;
}

.foto-details label{
  display: inline;
  font-weight: bold;
}

.foto-details {
  border-bottom: 1px solid #333333;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.box-map {
  height: 300px;
}

.btn-group {
  display: inline-block;
}

#tickets-div {
  margin-top: 40px;
}

.audits {
  clear: both;
}

.audit {
  -moz-border-radius:8px;
  -webkit-border-radius: 8px;
  padding: 6px;
  margin-bottom: 8px;
  font-size: 12px;
}

.audit .action, .audit .user, .audit .timestamp{
  float: left;
  margin-right: 6px;
}

.audit .changes {
  clear: both;
  white-space: pre;
}

.audit .current {
  margin-left: 6px;
}

.audit .previous {
  margin-left: 6px;
  text-decoration: line-through;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}