/*
 *= require 'bootstrap'
 *= require 'bootstrap-responsive.min'
 *= require_self
 *= require 'boxes'
 *= require 'home'
*/

body {
  background: url('/assets/linen.png') repeat fixed;
  color: #545454;
  font-family: 'Dosis', sans-serif;
  font-weight: lighter;
  font-size: 14px;
}

a {
  color: #68008B;
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
}

#header {
  background: url('/assets/linen.png') repeat fixed;
  position: fixed;
  top: 0;
  z-index: 100;
}

.navbar {
  font-family: 'Rokkitt', serif;
}

.navbar a {
  font-family: 'Rokkitt', serif;
}

.navbar-fixed-top {
    top: 60px;
}

.navbar-inner {
  background: #6D45C0;
  color: #ffffff;
}

.navbar .nav > li > a {
  color: #ffffff;
}

.navbar .nav > li > a:hover {
  text-decoration: underline;
}

body > .container-fluid {
  margin-top: 120px;
}

#logo img {
  margin: 8px 0;
}

#follow-twitter, #follow-facebook {
  margin: 11px 0;
}

#follow-facebook {
  padding: 9px 0 0;
}

#follow-twitter {
  padding: 7px 0 0;
}

.row-fluid .offset3 { margin-left: 25.641025641%; *margin-left: 25.5346426622766% }
.row-fluid .offset6 { margin-left: 51.282051282%; *margin-left: 51.2288597926383% }
.row-fluid .offset7 { margin-left: 59.829059829%; *margin-left: 59.7758683396383% }

@media (min-width: 768px) and (max-width: 979px) {
  .navbar-fixed-top {
    position: fixed;
  }
}

@media (max-width: 767px) {
  .navbar-fixed-top {
    position: fixed;
  }

  .navbar .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .navbar-fixed-top {
    position: fixed;
  }

  .navbar .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
}

#footer {
  background-color: #56267c;
  font-size: 14px;
  height: 85px;
  text-align: center;
}

#footer img { margin-top: 25px;}

#footer .credits { color: #dc72ff;}
#footer .credits a {
  color: #dc72ff;
  font-family: 'Dosis', sans-serif;
  font-weight: lighter;
}

dl {color: #545454;}

#login-modal p {
  font-size: 16px;
  text-align: center;
}

#busqueda-casilla {
  margin-right: 100px;
}

.label  {
  margin-right: 5px;
}