// Place all the styles related to the Boxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  &#results {
    li {
      list-style: none outside none;
      margin-bottom: 20px;
      min-height: 55px;

      input {
        margin: 11px 0 0 0;
      }
    }
  }
}

#html5_uploader{
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 0 10px 0 0;

  .plupload_header {
    background: -moz-linear-gradient(center top , #333333, #222222) repeat scroll 0 0 #2C2C2C;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    color: #FFFFFF;
    padding: 10px 0 10px 10px;
  }

  .plupload_content {
    background-color: #FFFFFF;
    padding: 0 0 0 10px;

    ul {
      list-style: none;
    }
  }



  .plupload_filelist_footer, .plupload_filelist_header {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    border-color: #D5D5D5;
    border-width: 0 0 1px;
    margin-left: 10px;
    padding: 10px 0 10px 10px;
  }
}

#box-map, #info-box {
  font-size: 14px;
  min-height: 300px;
  margin-bottom: 20px;
  text-transform: capitalize;

  .row-fluid {
    margin-bottom: 10px;
  }
}

.box-result {
  .row-fluid {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  #share .title { font-size: 16px; }
}