// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  color: #cecebf;

  p {
    color: #545454;
    font-family: 'Dosis', sans-serif;
    font-size: 38px;
    font-weight: lighter;
    line-height: 1;
    text-align: center;
    padding: 0 10px;
  }
}

.explain {
  margin: 0 0 500px;
  text-align: center;
  z-index: 10;
}

#main-image {
  display: block;
  margin: 0 auto;
}

#share {
  display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 20px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: auto;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  margin-top: 40px;


  #info-box &, .box-result & {
    margin-top: 0px;
  }

  .title {
    background-color: #8054A1;
    border-radius: 4px 0 0 4px;
    color: #FFFFFF;
    float: left;
    margin: -4px -10px;
    padding: 10px;
  }

  #share-facebook, #share-twitter {
    float: left;
  }

  #share-facebook {
    margin: 2px 0pt 0pt 25px;

    a {
      background: url('/assets/fb-share-icon.png') no-repeat;
      float: left;
      padding: 4px 5px;

      &:hover {
        background: url('/assets/fb-icon-over.png') no-repeat;
        text-decoration: none;
      }
    }
  }

  #share-twitter {
    margin: 3px 0pt 0pt 15px;

    a {
      background: url('/assets/twit-icon.png') no-repeat;
      float: left;
      padding: 3px 13px;

      &:hover {
        background: url('/assets/twit-icon-over.png') no-repeat;
        text-decoration: none;
      }
    }
  }
}

.down-button {
  margin-top: 50px;
  text-align: center;
}


h1 {
  color: #6d45c0;
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  margin: 0 0 40px;
  text-align: center;
  text-shadow: 0px 3px 2px #aaaaaa;
}

h2 {
  color: #6d45c0;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  margin: 0 0 40px;
  text-align: center;
  text-shadow: 0px 3px 2px #aaaaaa;
}

h3 {
  color: #6d45c0;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin: 0 0 40px;
  text-align: center;
  text-shadow: 0px 3px 2px #aaaaaa;
}

h4 {
  color: #6d45c0;
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  margin: 0 0 40px;
  text-align: center;
  text-shadow: 0px 3px 2px #aaaaaa;
}

h5 {
  color: #6d45c0;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin: 0 0 40px;
  text-align: center;
  text-shadow: 0px 3px 2px #aaaaaa;
}

#pasos {
  & > div {
    background-color: #DCD2F2;
    border: 2px solid #8979AA;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;

    p {
      color: #888;
      font-size: 24px;
    }
  }

  #paso-1 img {
    margin: 18px 0;
  }

  #paso-2 img {
    margin: 71px 0;
  }

  #paso-3 img {
    margin: 39px 0;
  }

  #paso-4 img {
    margin: 22px 0;
  }
}

.well {
  h5 {
    color: #3b3b3b;
    margin: 0 0 20px 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .home p {
    font-size: 32px;
  }

  h1 {
    font-size: 42px;
  }

  #pasos #paso-3 img {
      margin: 27px 0;
  }
}

@media (max-width: 767px) {
  .home p {
    font-size: 28px;
  }

  h1 {
    font-size: 38px;
  }
}

@media (max-width: 480px) {
  .home p {
    font-size: 24px;
  }

  h1 {
    font-size: 36px;
  }
}

#api {
  p {
    font-size: 18px;
    text-align: left;
  }

  h3 {
    margin: 30px 0;
    text-align: left;
  }
}