// Place all the styles related to the panel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: url('/assets/pattern.png') repeat fixed;
}

#form-login{
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
}

#admin-container{
  width: 940px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  
  #nav-admin{
    font-size: 25px;
    padding-left:10px;
    padding-right:10px;
    background: #333;
    ul{
      padding:0;
      margin:0;
      list-style: none;
      
      li{
        display: inline;
        line-height: 30px;
        a{color: #fff; text-decoration: none;}
        a:hover{color: #fff; text-decoration: underline}
      }
    }
  }

  #admin-content{

  }//end #admin-content{
}//end #admin-container{