// Place all the styles related to the panel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form-login{
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
  background: #fff;
}

#admin-container{
  width: 940px;
  margin: 0 auto;
  padding: 10px;
  background: #fff;

  #admin-content{

  }//end #admin-content{
}//end #admin-container{