%h1
  Buscar Casillas

.well
  = form_tag buscar_casillas_path, class: 'form-inline', method: :get do
    = select_tag :estado, options_from_collection_for_select(State.all, :id, :name), blank: :estado
    = text_field_tag :section, '', class: '', placeholder: 'Seccion'
    = submit_tag :'Buscar', class: :btn

