!!! 5
%head
  %title Admin Conteo
  %link{:href=>"/assets/panel.css", :rel=>"stylesheet", :type=>"text/css", :media=>"screen"}
  = javascript_include_tag "application"
  = csrf_meta_tags
  
%body
  %div{:id=>"admin-container"}
    %nav{:id=>'nav-admin'}
      %ul
        %li=link_to "Panel", admin_root_path
        %li=link_to "Casillas", admin_boxes_path
        %li=link_to "Administradores", admin_admins_path
        %li=link_to "Salir", destroy_admin_session_path, method: :delete
    
    %div{:id=>"admin-content"}
      =yield